{% extends "../form.njk" %}

{% from "components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
    {% if errors[0] %}
        {{ t('account-recovery-change-your-password:error-title') }}
    {% else %}
        {{ t('account-recovery-change-your-password:title') }}
    {% endif %}
{% endblock %}

{% block formElements %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="page-heading">
                {{ t('account-recovery-change-your-password:heading') }}
            </h1>
        </legend>

        {{ govukRadios({
            idPrefix: "callbacks[0]",
            name: "callbacks",
            errorMessage: {
                text: errorsMapped['callbacks[0]'].msg
            } if errorsMapped['callbacks[0]'],
            items: [
                {
                    value: "yes",
                    text: t('account-recovery-change-your-password:p-1')
                },
                {
                    value: "no",
                    text: t('account-recovery-change-your-password:p-2')
                }
            ]
        }) }}
    </fieldset>
    <input type="hidden" name="callbacks">
{% endblock %}