{% extends "../form.njk" %}

{% block pageTitle %}
    {% if errors[0] %}
        {{ t('account-recovery-create-new-password:error-title') }}
    {% else %}
        {{ t('account-recovery-create-new-password:title') }}
    {% endif %}
{% endblock %}

{% block formElements %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="page-heading">
                {{ t('account-recovery-create-new-password:heading') }}
            </h1>
        </legend>

        <p class="govuk-body">{{ t('account-recovery-create-new-password:p-1') }}</p>
        <p class="govuk-body">{{ t('account-recovery-create-new-password:p-2') }}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('account-recovery-create-new-password:li-1') }}</li>
            <li>{{ t('account-recovery-create-new-password:li-2') }}</li>
            <li>{{ t('account-recovery-create-new-password:li-3') }}</li>
            <li>{{ t('account-recovery-create-new-password:li-4') }}</li>
        </ul>

        {{ govukDetails({
            summaryText: t('account-recovery-create-new-password:help.summary'),
            html: t('account-recovery-create-new-password:help.content')
        }) }}

        {{ govukInput({
            label: {
                text: t('account-recovery-create-new-password:label-1')
            },
            classes: "govuk-!-width-full-width",
            id: 'callbacks[0]',
            name: 'callbacks',
            type: 'password',
            value: form.callbacks[0] if form,
            errorMessage: {
                text: errorsMapped['callbacks[0]'].msg
            } if errorsMapped['callbacks[0]']
        }) }}

        {{ govukInput({
            label: {
                text: t('account-recovery-create-new-password:label-2')
            },
            classes: "govuk-!-width-full-width",
            id: 'callbacks[1]',
            name: 'callbacks',
            type: 'password',
            value: form.callbacks[1] if form,
            errorMessage: {
                text: errorsMapped['callbacks[1]'].msg
            } if errorsMapped['callbacks[1]']
        }) }}
    </fieldset>
    <input type="hidden" name="callbacks">
{% endblock %}
