{% extends "../form.njk" %}

{% from "./../fragments/password.njk" import password %}

{% block pageTitle %}
    {% if errors[0] %}
        {{ t('reg-password:error-title') }}
    {% else %}
        {{ t('reg-password:title') }}
    {% endif %}
{% endblock %}

{% block formElements %}

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="page-heading">
                {{ t('reg-password:heading') }}
            </h1>
        </legend>

        <p class="govuk-body">{{ t('reg-password:p-1') }}</p>
        <p class="govuk-body">{{ t('reg-password:p-2') }}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('reg-password:li-1') }}</li>
            <li>{{ t('reg-password:li-2') }}</li>
            <li>{{ t('reg-password:li-3') }}</li>
            <li>{{ t('reg-password:li-4') }}</li>
        </ul>

        {{ govukDetails({
            summaryText: t('reg-password:help.summary'),
            html: t('reg-password:help.content')
        }) }}

        {{ password(t('reg-password:label-1'), 'callbacks[0]', form.callbacks[0] if form, errorsMapped['callbacks[0]']) }}
        {{ password(t('reg-password:label-2'), 'callbacks[1]', form.callbacks[1] if form, errorsMapped['callbacks[1]']) }}
    </fieldset>
    <input type="hidden" name="callbacks">

{% endblock %}
