{% extends "../layouts/one-column.njk" %}

{% block pageTitle %}
    {{ t('common:error') }}: {{ t('common:service-name') }}
{% endblock %}

{% block mainContent %}

    <h1 class="govuk-heading-xl" id="page-heading">{{ t('401.h1') }}</h1>

{% endblock %}
