{% from "components/input/macro.njk" import govukInput %}

{% macro password(label, callback, value, errors) %}

    {{ govukInput({
        label: {
            text: label
        },
        id: callback,
        classes: "govuk-!-width-full-width",
        name: 'callbacks',
        type: 'password',
        value: value,
        errorMessage: {
            text: errors.msg
        } if errors
    }) }}

{% endmacro %}