{% extends "../form.njk" %}

{% block pageTitle %}
    {{ t('findr-not-found:title') }}
{% endblock %}

{% set submitButtonText = 'findr-not-found:button' %}

{% block formElements %}

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="page-heading">
                {{ t('findr-not-found:heading') }}
            </h1>
        </legend>

        <p class="govuk-body">{{ t('findr-not-found:p') }}</p>
    </fieldset>

{% endblock %}

{% block nextSteps %} 
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                {{ t('findr-not-found:details-header') }}
            </span>
        </summary>

        <div class="govuk-details__text">
            <p>
                {{ serviceSupportInstructions }}
            </p>
        </div>
    </details>
{% endblock %}
