{% extends "../form.njk" %}

{% from "./../fragments/password.njk" import password %}

{% block pageTitle %}
    {{ t('reset-new-password:title') }}
{% endblock %}

{% block formElements %}

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="page-heading">
                {{ t('reset-new-password:heading') }}
            </h1>
        </legend>
        <p class="govuk-body">{{ t('reset-new-password:p-1') }}</p>
        <p class="govuk-body">{{ t('reset-new-password:p-2') }}</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('reset-new-password:li-1') }}</li>
            <li>{{ t('reset-new-password:li-2') }}</li>
            <li>{{ t('reset-new-password:li-3') }}</li>
            <li>{{ t('reset-new-password:li-4') }}</li>
        </ul>

        {{ govukDetails({
            summaryText: t('reset-new-password:help.summary'),
            html: t('reset-new-password:help.content')
        }) }}

        {{ password(t('reset-new-password:label-1'), 'callbacks[0]', form.callbacks[0], errorsMapped['callbacks[0]']) }}
        {{ password(t('reset-new-password:label-2'), 'callbacks[1]', form.callbacks[1], errorsMapped['callbacks[1]']) }}
    </fieldset>
    <input type="hidden" name="callbacks">

{% endblock %}
