{% extends "../layouts/one-column.njk" %}

{% block pageTitle %}
    {{ t('reset-password-recently:title') }}
{% endblock %}

{% set timeoutWarning = false %}

{% block mainContent %}

    <h1 class="govuk-heading-l" id="page-heading">{{ t('reset-password-recently:heading') }}</h1>

    <p class="govuk-body">{{ t('reset-password-recently:p-1') }}</p>

{% endblock %}
