{% extends "../form.njk" %}

{% block pageTitle %}
    {{ t('reset-session-timeout:title') }}
{% endblock %}

{% set timeoutWarning = false %}

{% set submitButtonText = 'reset-session-timeout:button' %}

{% block formElements %}
    <h1 class="govuk-heading-l" id="page-heading">
        {{ t('reset-session-timeout:heading') }}
    </h1>

    <p class="govuk-body">{{ t('reset-session-timeout:p-1') }}</p>
    <p class="govuk-body">{{ t('reset-session-timeout:p-2') }}</p>
{% endblock %}
