{% extends "../form.njk" %}

{% block pageTitle %}
    {% if errors[0] %}
        {{ t('reset-verify-mobile:error-title') }}
    {% else %}
        {{ t('reset-verify-mobile:title') }}
    {% endif %}
{% endblock %}

{% block formElements %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id="page-heading">
                {{ t('reset-verify-mobile:heading') }}
            </h1>
        </legend>

        <p class="govuk-body">{{ t('reset-verify-mobile:p-1') }}</p>

        {{ govukInput({
            label: {
                text: t('reset-verify-mobile:label')
            },
            classes: "govuk-input--width-10",
            id: 'callbacks[0]',
            name: 'callbacks',
            value: form.callbacks[0] if form,
            inputmode: "numeric",
            autocomplete: "off",
            attributes: {
                spellcheck: "false"
            },
            errorMessage: {
                text: errors[0].msg
            } if errors[0]
        }) }}
    </fieldset>
    <input type="hidden" name="callbacks">
{% endblock %}

{% block nextSteps %}
    <p>
        <a href="/password-reset/resend-mobile">
            {{ t('reset-verify-mobile:retryLink') }}
        </a>
    </p>

    <p>
        <a id="cannot-access-mobile" href="/account-recovery/start-update-mobile">
            {{ t('reset-verify-mobile:recoveryLink') }}
        </a>
    </p>
{% endblock %}
